.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sortIcon {
	display: block;

	margin-right: 8px;
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;

	cursor: pointer;
}

.sort > span {
	display: grid;
	grid-template-columns: 20px 1fr;

	align-items: center;
	gap: 8px;
}

.sort > span:not(.active) {
	grid-template-columns: 1fr;
}
